footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 0.8rem;
  border: 1px solid black;
  align-items: center;
  margin: 20px 0;
  border-radius: 10px;
  padding: 10px;
}

.footer-links{
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
}

.footer-links a {
	color: #ff7575;
	text-decoration: none;
}


@media only screen and (max-width: 760px) {
    footer {
		display: none;
	}
}

