header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
    display: flex;
    height: 60px;
    border-bottom: 1px solid var(--primary);
	background: black;
	z-index: 11;
}

.header-container {
	display: flex;
	width: 80%;
	margin: 0 auto;
	align-items: center;
}

/* Left Section */
.header-left-section .img-container {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


/* Middle Section */
.header-mid-section {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0 10px;
	position: relative;
}

.header-mid-section .input-box {
    width: 80%;
    max-width: 500px;
	position: relative;
}

.header-mid-section .input-box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #999;
}
.user-result {	
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5%;
}

#search-results {
	position: absolute;
    top: calc(100% + 12px);
    background: black;
    width: 80%;
	left: calc(50% - 40%);
    border: 1px var(--primary) solid;
    border-radius: 5px;
    padding: 20px;
    display: none;
    flex-direction: column;
    gap: 20px;
}

/* Right Section */
.header-right-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Navigation */
.nav_icons {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav_icons li {
    text-align: center;
}

.nav_icons a {    
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_icons i {
    font-size: 20px;
    margin-bottom: 3px;
}

.current-page {
	color: var(--primary);
}

.profile-section {
	position: relative;
}

.dropdown-menu {
    position: absolute;
	margin-top: 10px;
	top: 100%;
    right: 0;
    background: black;
    border: 1px solid var(--primary);
    border-radius: 5px;
    display: none;
    box-shadow: 0 2px 5px var(--primary);
}

.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    font-size: 14px;
    transition: background 0.3s;
}

.dropdown-menu a:hover,
.dropdown-menu button:hover {
    background: #d66a6a;
}

.dropdown-menu button {
	background: none;
	border: none;
	box-shadow: none;
	border-radius: 0px;
}

@media only screen and (max-width: 760px) {
    .nav_icons span {
        display: none; /* Hide text on small screens */
    }

    .nav_icons a:hover::after {
        content: attr(title);
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
        color: #000;
        background: #fff;
        border: 1px solid #ccc;
        padding: 5px 10px;
        border-radius: 5px;
        white-space: nowrap;
    }
}

