{% load static %}
{% load social_share %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link href="https://fonts.cdnfonts.com/css/d-din" rel="stylesheet">
    <link href="{% static 'css/general.css' %}" rel="stylesheet">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">
	<meta name="keywords" content="astronomy, space, astrophotography, community, celestial wonders, space photos, space videos, cosmos, universe, astrics, wiseman">
	<meta name="author" content="Astrics, Wiseman">
	<meta name="og:site_name" content="Astrics">
	{% comment %} <link rel="canonical" href="localhost.com"> will be updated after launch {% endcomment %}
	{% block metadata %}{% endblock %}
    {% block css %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
	{% if not mode %}
		<div class="mode-toggle" label="Mode Toggle" title="Mode Toggle">
			<i class='bx bxs-sun' role="img" aria-hidden="true"></i>
		</div>
	{% endif %}
	
	{% block header %}{% endblock %}
    <main>
        {% block content %}{% endblock %}
    </main>
    <script src="{% static 'js/general.js' %}"></script>
    {% block script %}{% endblock %}
</body>
</html>
