{% load static %}
{% load social_share %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'images/logo-no-background.png' %}" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="{% static 'css/general.css' %}" rel="stylesheet">
    <link href="{% static 'css/header.css' %}" rel="stylesheet">
    <link href="{% static 'css/footer.css' %}" rel="stylesheet">
    {% block css %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
    <header>
        <div class="header_logo">
            <a href="#">
                <img src="{% static 'images/logo-no-background.png' %}">
            </a>
        </div>
        {% block note %}
            <nav>
                <ul class="nav_icons">
                    <li><a href="#"><i class='bx bxs-home'></i><p>Home</p></a></li>
                    <li><a href="#"><i class='bx bxs-user-circle'></i><p>Profile</p></a></li>
                    <li><a href="#"><i class='bx bxs-phone'></i><p>Contact</p></a></li>
                </ul>
            </nav>
        {% endblock %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="author">Copyright &copy; <span id="year"></span> Wiseman Umanah</div>
        <ul class="socials">
            <li><a href="https://www.facebook.com/profile.php?id=61560236266196"><i class='bx bxl-facebook-circle'></i></a></li>
            <li><a href="https://www.instagram.com/astrics550/"><i class='bx bxl-instagram'></i></a></li>
            <li><a href="https://x.com/AstricsSpace"><i class='bx bxl-twitter'></i></a></li>
        </ul>
    </footer>
    <script src="{% static 'js/home-page.js' %}"></script>
    {% block script %}{% endblock %}
</body>
</html>
