{% load static %}
{% load space_extras %}

<header>
    <div class="header-container">
		<div class="header-left-section">
			<div class="img-container">
				<a href="{% url 'space:home' %}" title="Home" role="button">
					<img src="{% static 'images/logo-no-background.png' %}" alt="The Logo of Astrics Co.">
				</a>
			</div>
		</div>

		<div class="header-mid-section">
			<div class="input-box" style="position:relative;">
				<input type="text" id="search-input" name="search" maxlength="255" placeholder="Search">
				<i class='bx bx-search' id="search-icon" role="img" aria-hidden="true"></i>
				<div id="search-results"></div>
			</div>
		</div>

		
		<div class="header-right-section">
			<nav>
				<ul class="nav_icons">
					<li>
						<a href="{% url 'space:home' %}" title="Home"
							class="{% if section == 'home' %}current-page{% endif %}">
							<i class='bx bxs-home' role="img" aria-hidden="true"></i>
							<span>Home</span>
						</a>
					</li>
					<li>
						<a href="#" title="Messaging"
							class="{% if section == 'messaging' %}current-page{% endif %}">
							<i class='bx bxs-message-rounded-dots' role="img" aria-hidden="true"></i>
							<span>Messaging</span>
						</a>
					</li>
					<li>
						<a href="#" title="Notifications"
							class="{% if section == 'notification' %}current-page{% endif %}">
							<i class='bx bxs-bell' role="img" aria-hidden="true"></i>
							<span>Notifications</span>
						</a>
					</li>
				</ul>
			</nav>
			<div class="profile-section" label="profile options">
				<div class="img-container profile-div-small">
					<img src="{{ user | get_pic_link:1 }}" alt="Profile Picture">
				</div>
				<div class="dropdown-menu">
					<a href="{% url 'space:user-profile' user.username %}" title="View Profile" role="button">View Profile</a>
					<form action="{% url 'logout' %}" method="post">
						{% csrf_token %}
						<button type="submit" title="Logout" role="button">Logout</a>
					</form>
				</div>
			</div>
		</div>
	</div>
</header>

