{% load space_extras %}

<div class="profile-pic-preview">
	<figure class="cover-pic">
		<img src="{{ main_userProfile.user | get_pic_link:0 }}">
	</figure>
	<div class="profile-small-details">
		<div class="profile-div-small">
			<a href="{{ main_userProfile.get_absolute_url }}" title="{{ main_userProfile.user.username }}">
				<img src="{{ main_userProfile.user | get_pic_link:1 }}">
			</a>
		</div>
		<div>
			<h3>{{ main_userProfile.user.username }}</h3>
			<small>
				{{ main_userProfile.followed_by.count }} Follower{{ main_userProfile.followed_by.count | pluralize }}
				<br>
				{{ main_userProfile.follows.count }} Following{{ main_userProfile.follows.count | pluralize }}
				<br>
				<a href="#" title="Settings">Settings</a>
			</small>
		</div>
	</div>	
</div>
