{% load space_extras %}

{% for comment in comments %}
	<div class="post-container">
		<div class="post-top">
			<div class="post-details">
				<a href="{{ comment.user.profile.get_absolute_url }}">
					<div class="profile-div-small">
						<img src="{{ comment.user | get_pic_link:1 }}">
					</div>
				</a>
				<div>
					<a href="{{ comment.user.profile.get_absolute_url }}">
						<h4>{{ comment.user.username }}</h4>
					</a>
					<small>{{ comment.comment_on }}</small>
				</div>
			</div>
			{% if request.user == comment.user %}
				<div class="options">
					<i class="bx bx-dots-vertical-rounded" style="color:#FFFFFF"></i>
				</div>
			{% endif %}
		</div>
		<div>
			{{ comment.content }}
		</div>
	</div>
{% endfor %}

