{% load space_extras %}

{% for comment in comments %}
	<div class="post-container">
		<div class="post-top">
			<div class="post-details">
				<div class="profile-div-small">
					<img src="{{ comment.user | get_pic_link:1 }}">
				</div>
				<div>
					<h4>{{ comment.user.username }}</h4>
					<small>{{ comment.comment_on }}</small>
				</div>
			</div>
			{% if request.user == comment.user %}
				<div class="options">
					<i class="bx bx-dots-vertical-rounded" style="color:#FFFFFF"></i>
				</div>
			{% endif %}
		</div>
		<div>
			{{ comment.content }}
		</div>
	</div>
{% endfor %}

<script>
    let page = 1;
    let empty_page = false;
    let block_request = false;
	let post_id = '{{ post_id }}'

    $(window).scroll(function() {
        let margin = $(document).height() - $(window).height() - 200;
        if ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
            block_request = true;
            page += 1;
            
            $.get(post_id + '/comments?page=' + page, function(data) {
                if (data == '') {
                    empty_page = true;
                } else {
                    block_request = false;
                    $('.comments').append(data);
                }
            })
        }
    });
</script>
