{% load social_share %}
{% load space_extras %}

{% for post in posts %}
	<div class="post-container">
		<div class="post-top">
			<div class="post-details">
				<a href="{{ post.user.profile.get_absolute_url }}">
					<div class="profile-div-small">
						<img src="{{ post.user|get_pic_link:1 }}" alt="Profile Picture">
					</div>
				</a>
				<div>
					{% if post.title %}
						<h4>{{ post.title }}</h4>
					{% endif %}
					<small>{{ post.created_at }} | <a href="{{ post.user.get_absolute_url }}"> {{ post.user.username }} </a></small>
				</div>
			</div>
		
			<div class="options">
				<i class='bx bx-dots-vertical-rounded' style='color:#ffffff'  ></i>
				<div class="options-dropdown" data-post_id="{{ post.id }}">
					{% if post.in_favorite %}
						<div class="save-btn">Remove from Favorite</div>
					{% else %}
						<div class="save-btn">Save to Favorite</div>
					{% endif %}
				</div>
			</div>
		</div>
		<a href="{{ post.get_absolute_url }}">
			{% if post.description %}
				<div>
					{{ post.description }}
				</div>
			{% endif %}
		
			{% if post.media_type == "image" %}
				<div class="post-media">
					<img src="{{ post.file_id|get_media }}">
				</div>	
			{% elif post.media_type == "video" %}
				<div class="post-media">
					<video src="{{ post.file_id|get_media }}" controls muted>
				</div>	
			{% endif %}
		</a>
			
		<div class="interactions">
			<div>
				{% if post.is_liked %}
					<button class="reaction-btn" data-post_id="{{ post.id }}" data-like_url="{% url 'space:like-post' post.id %}">
						<small>Love</small>
						<i class='bx bxs-heart'></i>
				{% else %}
					<button class="reaction-btn" data-post_id="{{ post.id }}" data-like_url="{% url 'space:like-post' post.id %}">
						<small>Love</small>
						<i class='bx bx-heart'></i>
				{% endif %}
				</button>
				<div class="share-btn">
					<small>Share</small>
					<i class='bx bxs-share-alt' style='color:#f80000'  ></i>
					<div class="share-links">
						{% url 'space:view-post' post.user.username post.pk as share_url %}
						<div class="copy-btn" data-clipboard="{{share_url }}">
							<i class='bx bx-link' style='color:#ff0000'  ></i>
						</div>
						{% post_to_facebook share_url "<i class='bx bxl-facebook-circle' style='color:#0085ff'  ></i>" %}
						{% post_to_twitter post.title|default:"Check out this post!" share_url "<i class='bx bxl-twitter' style='color:#72afe6'  ></i>" %}
						{% post_to_whatsapp share_url "<i class='bx bxl-whatsapp' style='color:#3cde2c'  ></i>" %}
					</div>
				</div>
			</div>
			<div class="reaction-count">
				<small>{{ post.likes.count }} love{{ post.likes.count | pluralize }} . {{ post.comments.count }} comment{{ post.comments.count | pluralize }}</small>
			</div>
		</div>
		<form class="comment-section" action="{% url 'space:create_comment' post.id %}">
			<div class="input-box">	
				<textarea name="content" id="id_content" cols="40" rows="1" placeholder="Share your thought here" class="newpost_description"></textarea>
			</div>
			<button class="comment-btn" data-post_id="{{ post.id }}">Comment</button>
		</form>
	</div>
{% endfor %}

