{% extends "base.html"%}

{% load static %}
{% load space_extras %}
{% load social_share %}

{% block header %}
	{% include 'user/header.html' %}
{% endblock %}

{% block metadata %}
	<meta name="author" content="{{ post.user.username }}">
	<meta name="description" content="{{ post.description | truncatewords:40 }}">
	<meta name="og:url" content="{{ post.get_absolute_url }}">
	{% if post.description %}
		<meta name="og:description" content="{{ post.description | truncatewords:40 }}">
		<meta name="twitter:description" content="{{ post.description | truncatewords:40 }}">
	{% endif %}
	{% if post.title %}
		<meta name="og:title" content="{{ post.title }}">
		<meta name="twitter:title" content="{{ post.title }}">
	{% endif %}
	{% if post.media_type == "image" %}
		<meta name="og:image" content="{{ post.file_id | get_media }}">
		<meta name="twitter:image" content="{{ post.file_id | get_media }}">
		<meta name="og:type" content="image">
	{% elif post.media_type == "video" %}
		<meta name="og:video" content="{{ post.file_id | get_media }}">
		<meta name="og:type" content="video">
	{% else %}
		<meta name="og:type" content="article">
	{% endif %}
	<meta name="twitter:card" content="{{ 678bcba80023f63cc43f | get_media }}">
{% endblock %}

{% block title %} Astrics | {{ post.user.username }} Post {% endblock %}

{% block css %}
	<link href="{% static 'css/profile.css' %}" rel="stylesheet">
	<link href="{% static 'css/post_detail.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
	<div class="container">
		<section class="profile-preview">
			{% include 'user/user_title.html' with main_userProfile=main_userProfile %}
		</section>
		<section class="post-cont">
			<article class="post-container">
				<div class="post-top">
					<div class="post-details">
						<a href="{{ post.user.profile.get_absolute_url }}">
							<div class="profile-div-small">
									<img src="{{ post.user | get_pic_link:1 }}">
							</div>
						</a>
						<div>
							{% if post.title %}
								<h4>{{ post.title }}</h4>
							{% endif %}
							<small>{{ post.created_at }} | <a href="{{ post.user.profile.get_absolute_url }}"> {{ post.user.username }} </a></small>
						</div>
					</div>
					<div class="options">
						<i class='bx bx-dots-vertical-rounded' style='color:#ffffff'  ></i>
						<div class="options-dropdown" data-post_id="{{ post.id }}">
							{% if post.in_favorite %}
								<div class="save-btn">Remove from Favorite</div>
							{% else %}
								<div class="save-btn">Save to Favorite</div>
							{% endif %}
						</div>
					</div>
				</div>
				{% if post.description %}
					<section>
						<p>{{ post.description }}</p>
					</section>
				{% endif %}
				{% if post.media_type == "image" %}
					<figure class="post-media">
						<img src="{{ post.file_id|get_media }}">
					</figure>	
				{% elif post.media_type == "video" %}
					<figure class="post-media">
						<video src="{{ post.file_id|get_media }}" controls muted></video>
					</figure>	
				{% endif %}

				<section class="interactions">
					<div>
						<button class="reaction-btn" data-post_id="{{ post.id }}" data-like_url="{% url 'space:like-post' post.id %}">
						<small>Love</small>
						{% if post.is_liked %}
								<i class='bx bxs-heart'></i>
						{% else %}
							<i class='bx bx-heart'></i>
						{% endif %}
						</button>
						<div class="share-btn">
							<small>Share</small>
							<i class='bx bxs-share-alt' style='color:#f80000'  ></i>
							<div class="share-links">
								{% url 'space:view-post' post.user.username post.pk as share_url %}
								<div class="copy-btn" data-clipboard="{{ share_url }}">
									<i class='bx bx-link' style='color:#ff0000'  ></i>
								</div>
								{% post_to_facebook share_url "<i class='bx bxl-facebook-circle' style='color:#0085ff'  ></i>" %}
								{% post_to_twitter post.title|default:"Check out this post on Astrics!" share_url "<i class='bx bxl-twitter' style='color:#72afe6'  ></i>" %}
								{% post_to_whatsapp share_url "<i class='bx bxl-whatsapp' style='color:#3cde2c'  ></i>" %}
							</div>
						</div>
					</div>
					<div class="reaction-count">
						<small>{{ post.likes.count }} love{{ post.likes.count | pluralize }} . {{ post.comments.count }} comment{{ post.comments.count | pluralize }}</small>
					</div>
				</section>
			</article>
		</section>
		
		<aside>
			<section>
				<form class="new-comment" action="{% url 'space:create_comment' post.id %}">
					<div class="input-box">	
						<textarea name="content" id="id_content" cols="40" rows="1" placeholder="Share your thought here" class="newpost_description" required></textarea>
					</div>
					<input type="hidden" name="url"  id="url" value="{% url 'space:view-comments' post.user.username post.id %}">
					<button class="comment-btn" data-post_id="{{ post.id }}">Comment</button>
				</form>
				
				<div class="comments">
					{% include 'posts/comments.html' with comments=comments %}
				</div>
			</section>
		</aside>
	</div>
{% endblock %}

{% block script %}
	<script src="{% static 'js/general.js' %}"></script>
	<script>
		let page = 1;
		let empty_page = false;
		let block_request = false;
		let post_id = {{ post.id }}

		$(window).scroll(function() {
			let margin = $(document).height() - $(window).height() - 200;
			if ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
				block_request = true;
				page += 1;
				
				$.get(post_id + '/comments?page=' + page, function(data) {
					if (data == '') {
						empty_page = true;
					} else {
						block_request = false;
						$('.comments').append(data);
					}
				})
			}
		});
	</script>

	<script type="application/ld+json">
		{
			"@context": "https://schema.org",
			"@type": "BlogPosting",
			"@id": "{% url 'space:view-post' post.user.username post.id %}",
			"name": "{{ post.title }}"
			"headline": "{{ post.title|default:'Astronomy Post' }}",
			"author": {
				"@type": "Person",
				"name": "{{ post.user.first_name }} {{ post.user.last_name }}",
				"url": "{% url 'space:user-profile' post.user.username %}",
				"image": {
					"@type": "ImageObject",
					"@id": "{{ post.user | get_pic_link:1 }}",
					"@url": "{{ post.user | get_pic_link:1 }}",
					"height": "100",
					"width": "100"
				}
			},
			"datePublished": "{{ post.created_at|date:'Y-m-d' }}",
			"description": "{{ post.description|truncatewords:100 }}",
			{% if post.media_type == "image" %}
				"image": "{{ post.file_id|get_media }}"
			{% elif post.media_type == "video" %}
				"video": "{{ post.fille_id | get_media }}"
			{% endif %}
		}
	</script>

{% endblock %}
