{% extends "base.html" %}
{% load static %}

{% block title %}Astrics | Password Reset{% endblock %}

{% block content %}
    <h3 id="form-title">Password Change</h3>
	<form id="set-new-password" method="POST" style="display: none;">
		{% csrf_token %}
		<p>What's your old password.</p>
		<div class="input-box">
			{{ fields.old_password }}
			<i class='bx bx-key'></i>
		</div>
		<p>Input your new password</p>
		<div class="input-box">
			{{ form.new_password}}
			<i class="bx bxs-lock-alt"></i>
		</div>
		<p>Confirm your new password</p>
		<div class="input-box">
			{{ form.confirm_password}}
			<i class='bx bxs-shield-plus' ></i>
		</div>
		<button type="submit" class="login-btn">Change Password</button>
	</form>
{% endblock %}
