{% extends "base.html" %}
{% load static %}

{% block title %}Email Sent{% endblock %}

{% block css %}
	<link href="{% static 'css/reg-logpage.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h3>Check Your Email</h3>
    <p>If an account exists with the provided email, a reset link has been sent.</p>
    <p>Please check your inbox or spam folder for further instructions.</p>
    <button type="submit" id="back-login" class="login-btn">Login</button>
{% endblock %}

{% block script %}
	<script src="{% static 'js/password-reset.js' %}"></script>
{% endblock %}
