{% extends "base.html" %}
{% load static %}

{% block title %} Astrics | Reset Your Password {% endblock %}

{% block css %}
	<link href="{% static 'css/reg-logpage.css' %}" rel="stylesheet">
{% endblock %}

{% block metadata %}
	<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block content %}
    <h3>Reset Your Password</h3>
    <form method="POST">
        {% csrf_token %}
        <h5 style="text-align: center;">Hi, {{ form.user.username }}</h5>
        
        <div class="input-box">
            {{ form.new_password1 }}
            <i class='bx bxs-key' role="img" aria-hidden="true"></i>
        </div>
        
        <div class="input-box">
            {{ form.new_password2 }}
            <i class="bx bxs-lock-alt" role="img" aria-hidden="true"></i>
        </div>
        {% if form.new_password2.errors %}
			{% for error in form.new_password2.errors %}
				<p style="
					color: red;
					font-size: 14px;
					margin-bottom: 35px;
					text-align: center;
				">{{ error }}</p>
			{% endfor %}
		{% endif %}
        <button type="submit" class="login-btn">Reset Password</button>
    </form>
{% endblock %}
