{% extends "base.html" %}

{% load static %}
{% load space_extras %}


{% block title %}
	Astrics | {{ user_profile.username }}
{% endblock %}

{% block css %}
	<link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
	{% with user=user_profile %}
		{% if request.user == user %}
			{% include 'account/registration/password_change.html' with password_form=password_form %}
			
			<form class="edit-section" method="POST"
				action="{% url 'space:profile' username=user.username %}"
				enctype='multipart/form-data'
			>
				{% csrf_token %}
				<div class="edit-pic">
					<h4>Edit Cover Picture</h4>
					<div class="edit">
						<label for="id_cover_pic">
							<i class="bx bx-edit" style="color:#ffffff"></i>
							<img src="{{ user|get_pic_link:0 }}" alt="Cover Picture" id="cover-tag">
						</label>
						{{ pic_form.cover_pic }}
					</div>
				</div>
				<div class="edit-pic">
					<h4>Edit Profile Picture</h4>
					<div class="edit">
						<label for="id_profile_pic">
							<i class="bx bx-edit" style="color:#ffffff"></i>
							<img src="{{ user|get_pic_link:1 }}" alt="Profile Picture" id="profile-tag">
						</label>
						{{ pic_form.profile_pic }}
					</div>
				</div>
				<p class="error-messages" style="color: red;">
					{% if pic_form.profile_pic.errors %}
						{% for error in pic_form.profile_pic.errors %}
							{{ error }}<br/>
						{% endfor %}
					{% endif %}
					{% if pic_form.cover_pic.errors %}
						{% for error in pic_form.cover_pic.errors %}
							{{ error }}<br/>
						{% endfor %}
					{% endif %}
					{% if form.username.errors %}
						{% for error in form.username.errors %}
							{{ error }}<br/>
						{% endfor %}
					{% endif %}
					{% if form.email.errors %}
						{% for errors in form.email.errors %}
							{{ error }}
						{% endfor %}
					{% endif %}
				</p>
				<div class="edit-user-details">
					<div class="input-box">
						{{ form.first_name }}
					</div>
					<div class="input-box">
						{{ form.last_name }}
					</div>
					<div class="input-box">
						{{ form.username }}
					</div>
					<div class="input-box">
						{{ form.email }}
					</div>
				</div>
				<span id="change-password">Change your password</span>
				<button type="submit">
					Save Edit
				</button>
			</form>
		{% endif %}
			<div class="image-div">
				<img src="{{ user|get_pic_link:0 }}" alt="Cover Picture">
			</div>
			<div class="container">
				<div class="user-details">
					<div class="profile-div">
						<img src="{{ user|get_pic_link:1 }}" alt="Profile Picture">
					</div>
					<div class="user-data">
						<div>
							<h2>{{ user.first_name }} {{ user.last_name}}  ({{ user.username }})</h2>
							{{ user.profile.followed_by.count }} follower{{ user.profile.followed_by.count | pluralize}} {{ user.profile.follows.count }} following
						</div>
						{% if request.user == user %}
							<button id="editProfile">
								Edit Profile
							</button>
						{% else %}
							{% if request.user.profile in user_profile.profile.follows.all %}
								<button class="user-relationship" data-username="{{ user_profile.username }}" data-action="unfollow">
									Unfollow
								</button>
							{% else %}
								<button class="user-relationship" data-username="{{ user_profile.username }}" data-action="follow">
									Follow
								</button>
							{% endif %}
						{% endif %}
					</div>
				</div>
				<div class="section1">
					<div class="favorites fav">
						<div>
							<h3>Favorites</h3>
							<span><a href="#"></a>See More</a></span>
						</div>
						No favorites available, try saving some posts.
					</div>
					<div class="section2">
						{% include "post/post_form.html" with post_form=post_form %}
						
						<div class="posts">
							<h3>Posts</h3>
							{% include "posts/list_posts.html" with posts=posts username=user_profile.username %}
						</div>
					</div>
				</div>
			</div>
	{% endwith %}
{% endblock %}

{% comment %} refix this for user viewing another account  {% endcomment %}
{% block script %}
	{% if request.user == user %} 
		<script src="{% static 'js/profile.js' %}"></script>
	{% endif %}
		<script src="{% static 'js/general.js' %}"></script>
{% endblock %}

