{% extends "base.html" %}

{% load static %}
{% load space_extras %}


{% block title %}
	Astrics | {{ user_profile.username }}
{% endblock %}

{% block metadata %}
	<meta name="description" content="Explore space and astronomy with {{ user_profile.username }}">
	<meta name="og:url" content="{% url 'space:user-profile' user_profile.username %}">
	<meta name="og:description" content="Explore space and astronomy with {{ user_profile.username }}">
	<meta name="twitter:description" content="Explore space and astronomy with {{ user_profile.username }}">
	<meta name="og:title" content="Explore space and astronomy with {{ user_profile.username }}">
	<meta name="twitter:title" content="Explore space and astronomy with {{ user_profile.username }}">
	<meta name="og:image" content="{{ user_profile | get_pic_link:1 }}">
	<meta name="twitter:image" content="{{ user_profile | get_pic_link:1 }}">
	<meta name="og:type" content="website">
	<meta name="twitter:card" content="{{ 678bcba80023f63cc43f | get_media }}">
{% endblock %}


{% block css %}
	<link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block header %}
	{% include 'user/header.html' %}
{% endblock %}

{% block content %}
	{% with user=user_profile %}
		{% if request.user == user %}
			{% include 'account/registration/password_change.html' with password_form=password_form %}
			
			<form class="edit-section" method="POST"
				action="{% url 'space:user-profile' username=user.username %}"
				enctype='multipart/form-data'
			>
				{% csrf_token %}
				<section class="edit-pic">
					<h4>Edit Cover Picture</h4>
					<div class="edit">
						<label for="id_cover_pic">
							<i class="bx bx-edit" style="color:#ffffff" role="img" aria-hidden="true"></i>
							<img src="{{ user|get_pic_link:0 }}" alt="The cover picture of {{ user.username }}" id="cover-tag">
						</label>
						{{ pic_form.cover_pic }}
					</div>
				</section>
				<section class="edit-pic">
					<h4>Edit Profile Picture</h4>
					<div class="edit">
						<label for="id_profile_pic">
							<i class="bx bx-edit" style="color:#ffffff" role="img" aria-hidden="true"></i>
							<img src="{{ user|get_pic_link:1 }}" alt="The profile picture of {{ user.username }}" id="profile-tag">
						</label>
						{{ pic_form.profile_pic }}
					</div>
				</section>
				<p class="error-messages" style="color: red;" role="alert">
					{% if pic_form.profile_pic.errors %}
						{% for error in pic_form.profile_pic.errors %}
							{{ error }}<br/>
						{% endfor %}
					{% endif %}
					{% if pic_form.cover_pic.errors %}
						{% for error in pic_form.cover_pic.errors %}
							{{ error }}<br/>
						{% endfor %}
					{% endif %}
					{% if form.username.errors %}
						{% for error in form.username.errors %}
							{{ error }}<br/>
						{% endfor %}
					{% endif %}
					{% if form.email.errors %}
						{% for errors in form.email.errors %}
							{{ error }}
						{% endfor %}
					{% endif %}
				</p>
				<section class="edit-user-details">
					<div class="input-box">
						{{ form.first_name }}
					</div>
					<div class="input-box">
						{{ form.last_name }}
					</div>
					<div class="input-box">
						{{ form.username }}
					</div>
					<div class="input-box">
						{{ form.email }}
					</div>
				</section>
				<span id="change-password" role="button" aria-label="Password Change">Change your password</span>
				<button type="submit">
					Save Edit
				</button>
			</form>
		{% endif %}

			<div class="image-div">
				<img src="{{ user|get_pic_link:0 }}" alt="The cover picture of {{ user.username }}">
			</div>
			<div class="container">
				<div class="user-details">
					<div class="profile-div">
						<img src="{{ user|get_pic_link:1 }}" alt="The profile picture of {{ user.username }}">
					</div>
					<div class="user-data">
						<div>
							<h2>{{ user.first_name }} {{ user.last_name}}  ({{ user.username }})</h2>
							<small class="follow-update">{{ user.profile.followed_by.count }} follower{{ user.profile.followed_by.count | pluralize}} | {{ user.profile.follows.count }} following</small>
						</div>
						{% if request.user == user %}
							<button id="editProfile">
								Edit Profile
							</button>
						{% else %}
							{% if request.user.profile in user.profile.followed_by.all %}
								<button class="user-relationship" data-username="{{ user.username }}" data-action="unfollow">
									Unfollow
								</button>
							{% else %}
								<button class="user-relationship" data-username="{{ user.username }}" data-action="follow">
									Follow
								</button>
							{% endif %}
						{% endif %}
					</div>
				</div>
				<div class="section1">
					<div class="favorites fav">
						<div class="fav-header">
							<h3>Favorites</h3>
							{% if favorites %}
								<span><a href="#"></a>See More</a></span>
							{% endif %}
						</div>
						
						<div class="user-favs">
							{% for fav in favorites %}
								<a href="{{ fav.post.get_absolute_url }}" title="Favorite">
									<div>
										<img src="{{ fav.post.file_id | get_media }}" alt="Favorite Picture Preview with id {{ fav.post.id }}">
									</div>
								</a>
							{% empty %}
								No favorites available, try saving some posts.
							{% endfor %}
						</div>
					</div>
					<div class="section2">
						{% if request.user == user %}
							{% include "post/post_form.html" with username=user.username %}
						{% endif %}
						
						<div class="posts">
							<h3>Posts</h3>
							{% include "posts/list_posts.html" with posts=posts %}
						</div>
					</div>
				</div>
			</div>
	{% endwith %}
{% endblock %}

{% block script %}
	{% if request.user == user_profile %} 
		<script src="{% static 'js/profile.js' %}"></script>
	{% endif %}
	<script>
	console.log('{{ user_profile.username }}')
		let page = 1;
		let empty_page = false;
		let block_request = false;
		let username = '{{ user_profile.username }}';

		$(window).scroll(function() {
			let margin = $(document).height() - $(window).height() - 200;
			if ($(window).scrollTop() > margin && empty_page == false && block_request == false) {
				block_request = true;
				page += 1;
				
				$.get(username + '/posts/?page=' + page, function(data) {
					if (data == '') {
						empty_page = true;
					} else {
						block_request = false;
						$('.posts').append(data);
						hideShareLinks();
					}
				})
			}
		});
	</script>

	<script type="application/ld+json">
		{
		"@context": "https://schema.org",
		"@type":"ProfilePage",
		"dateCreated": "{{ user_profile.date_joined }}",
		"mainEntity": {
			"@type": "Person",
			"additionalName": "{{ user_profile.username }}",
			"description": "Explore space and astronomy with {{ user_profile.username }}",
			"givenName": "{{ user_profile.first_name }} {{ user_profile.last_name }}",
			"identifier": "{{ user_profile.id }}",
			"image":{
				"@type": "ImageObject",
				"contentUrl": "{{ user_profile | get_pic_link:1 }}",
				"thumbnailUrl":"{{ user_profile | get_pic_link:1 }}"
			},
			"interactionStatistic": [
				{
					"@type": "InteractionCounter",
					"interactionType": "https://schema.org/FollowAction",
					"name": "Follows",
					"userInteractionCount": {{ user_profile.profile.followed_by.count }}
				},
				{
					"@type": "InteractionCounter",
					"interactionType": "https://schema.org/SubscribeAction",
					"name":"Followers",
					"userInteractionCount": {{ user_profile.profile.follows.count }}
				},
				{
					"@type": "InteractionCounter",
					"interactionType": "https://schema.org/WriteAction",
					"name": "Posts",
					"userInteractionCount": {{ user_profile.posts.count }}
				}
			],
			"url": "{% url 'space:user-profile' user_profile.username %}"
		}
	</script>

{% endblock %}
