.introduction {
	margin-bottom: 50px;
}

.introduction h1 {
	font-size: 30px;
	margin-bottom: 20px;
	text-align: center;
}

.introduction p,
.introduction ul li {
	font-size: 20px;
	margin-bottom: 30px;
}

.dev-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.dev-about {
	width: 40%;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
}

.dev-intro {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 10px auto;
	padding-bottom: 10px;
	border-bottom: 2px solid rgba(255, 255, 255, .2);
}

.dev-intro > div {
	margin: 3px;
}

.dev-pic {
	width: 80px;
	border-radius: 50%;
	height: 80px;
}

.dev-desc {
	margin: 10px auto;
	overflow-y: auto;
	padding: 0 20px 20px 20px;
}

@media only screen and (max-width: 760px) {
	.introduction h1,
	.introduction p,
	.introduction h2,
	.introduction ul li,
        .dev-intro h3,
	.dev-desc{
		font-size: 0.6rem;
	}

	.dev-pic {
		width: 40px;
		height: 40px;
	}

	.dev-about {
		height: 200px;
	}
}

@media only screen and (min-width: 1800px) {
	.introduction h1,
	.introduction p,
	.introduction h2,
	.introduction ul li,
        .dev-intro,
	.dev-desc{
		font-size: 2.5rem;
	}

	.dev-pic {
                width: 60px;
                height: 60px;
        }
}
