:root {
    --back-color: black;
    --white: white;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: black;
    color: var(--white);
    font-family: "Jaro", sans-serif;
}
a {
    text-decoration: none;
    color: var(--white);
}

::-webkit-scrollbar {
    display: none;
}