header {
	backdrop-filter: blur(5px);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	border-radius: 10px;
	background: transparent;
	width: 100%;
	color: #ffffff;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 2;
	top: 0;
}

header div {
	margin-left: 30px;
}

nav {
	display: flex;
	justify-content: space-between;
	margin-right: 30px;
}

nav div:hover {
	opacity: 0.5;
}

@media only screen and (max-width: 760px) {
	nav div {
		font-size: 6px;
	}
	header {
		height: 50px;
	}
}

@media only screen and (min-width:1200px) {
	header {
		height: 100px;
	}
	nav div {
		font-size: 1.5rem;
	}
}
