.introduction {
	height: 100vh;
}
.introduction h1 {
	font-size: 30px;
	margin-bottom: 20px;
	text-align: center;
}

.introduction p {
	font-size: 25px;
	margin-bottom: 30px;
}
.image-of-day {
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.image {
	width: 65%;
	height: 100%;
	position: relative;
}

.image-des-section {
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .2);
	width: 30%;
	height: 100%;
	border-radius: 20px;
}

.image-tag {
	border-bottom: 2px solid rgba(255, 255, 255, .2);
	color: #F5F3F5;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	vertical-align: middle;
}

.image-desc {
	max-height: 80%;
	overflow-y: auto;
}

.image-title {
	background-color: black;
	position: absolute;
	padding: 5px;
	font-size: 12px;
	font-family: 'Times New Roman', Times, serif;
	top: 50%;
	right: 50%;
	display: none;
}

.prev-images {
	
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 20px;
	
}

.prev-images .sec-pre {
	width: 25%;
	position: relative;
}

.prev-images .sec-pre img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}
.image-d {
	width: 100%;
	height: 100%;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 20px;
	cursor: pointer;
}

.prev-image-desc {
	overflow-y: auto;
	position: absolute;
	top: 50%;
	width: 100%;
	height: 50%;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 5px;
	display: none;
}

.prev-images .sec-pre:hover > .prev-image-desc {
	display: block;
	cursor: pointer;
}

.image:hover > .image-title {
	display: block;
}

@media only screen and (max-width: 760px) {
	.introduction h1,
	.introduction p,
	.introduction h2,
	.image-tag,
	.image-desc,
       .prev-image-desc	{
		font-size: 0.6rem;
	}

	.introduction {
		height: 50vh;
	}
	.image-of-day {
		height: 70vh;
	}

	.prev-images .sec-pre {
		width: 30%;
	}
}

@media only screen and (min-width: 1800px) {
	.introduction h1,
	.introduction p,
	.introduction h2,
	.image-tag,
	.image-desc,
	.prev-image-desc {
		font-size: 2.5rem;
	}
	
	.image-of-day {
		height: 100vh;
	}

}
