main {
    width: 90%;
    margin: 90px auto;
}

.new-image {
    height: 300px;
    border: 1px solid rgb(193, 30, 30);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    position: relative;
}

.new-image-section span,
.img span {
    position: absolute;
    left: 50%;
    bottom: 50%;
}

.new-image-desc,
.img-desc {
    border: 1px solid rgb(193, 30, 30);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px 10px 5px 10px;
    overflow-y: auto;
    height: 100px;
    display: none;
}

.prev-images-section,
.prev-images {
    margin-top: 50px;
}

.prev-images,
.img-section {
    display: flex;
    flex-direction: column;
}

.img-section {
    margin-bottom: 80px;
}
.img {
    height: 300px;
    border: 1px solid rgb(193, 30, 30);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}


@media only screen and (min-width: 760px) {
    .img-section {
        flex-direction: row-reverse;
        align-items: center;
    }

    .img {
        width: 50%;
        height: 500px;
        border-radius: 10px;
        margin: 0 10px;
    }

    .img-desc {
        width: 50%;
        height: 100%;
        border: none;
    }
}