main {
    display: flex;
    flex-direction: column;
    margin: 60px 0;
    padding: 0 25px;
}

.startup {margin-bottom: 80px;}
.startup h2 {
    font-size: 4.0rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.join-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.join-btn button {
    color: var(--white);
    padding: 20px 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Jaro", sans-serif;
}

.reg-btn {
    background: var(--back-color);
    border: 2px solid white;
    border-radius: 50px;
}

.log-btn {
    border: none;
    background: transparent;
}

.join-btn button:hover {
    opacity: 0.8;
    color: rgb(193, 30, 30);
    border-color: rgb(193, 30, 30);
}

.intro {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(193, 30, 30);
    border-radius: 10px;
    
}

.astrics-pics {
    height: 450px;
    position: relative;
}

.intro-desc {
    background: rgba(193, 30, 30, 0.382);
    border-radius: 10px;
    padding: 30px 20px;
    font-size: 1.3rem;
}

.intro-desc p,
.intro-desc h1 {
    text-align: center;
}

.intro-desc p {
    padding-top: 50px;
    font-size: 1.3rem;
}

.img1,
.img2,
.img3 {
    position: absolute;
    border: 1px solid rgb(193, 30, 30);
    border-radius: 10px;
    width: 200px;
}

.img1 img,
.img2 img,
.img3 img {
    width: 100%;
    border-radius: 10px;
}

.img1 {
    right: -10px;
    top: -50px;
}

.img2 {
    bottom: -25px;
    left: 25%;
}

.img3 {
    transform: rotate(-40deg);
    left: 10%;
}

@media only screen and (min-width: 760px) {
    main {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 150px auto;
    }
    .startup,
    .astrics-pics {
        width: 100%;
    }
    .img1,
    .img2,
    .img3 {
        width: 35%;
    }
}
