main {
    margin: 80px auto;
    width: 90%;
}

.projects-intro {
    background: url('../images/insider.jpg');
    background-position: center;
    background-size: 100%;
    height: 300px;
    background-repeat: no-repeat;
    -webkit-text-stroke: 1px white;
    color: black;
    position: relative;
    border-radius: 10px;
}

.projects-intro p {
    position: absolute;
    bottom: 50%;
    left: 5%;
}

.projects {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.projects-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.projects-section h3 {
    margin: 20px 0;
}
.img {
    height: 200px;
    border: 1px solid rgb(193, 30, 30);
    border-radius: 10px;
    margin: 0 auto;
    width: 50%;
}

.projects-section p a {
    text-decoration: underline;
}

@media only screen and (min-width: 760px) {
    .projects-intro {
        height: 500px;
    }
    .projects-intro p {
        font-size: 1.5rem;
    }
    .projects {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .projects-section {
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
        align-items: center;
        margin: 80px auto;
        gap: 20px;
    }
}