.project-sections {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.project-overview {
	width: 40%;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	padding: 20px 10px;
}

h3 {
	margin-bottom: 10px;
	text-align: center;
}

p { overflow-y: auto; }

.project-overview a {
	text-decoration: underline;
}

@media only screen and (min-width: 1800px) {
	main {
		max-width: 90%;
	}
	h3,
	p {
		font-size: 2.5rem;
	}
}

@media only screen and (max-width: 760px) {
	h3,
       	p {
		font-size: 0.6rem;
	}
}
