{% extends "base.html" %}
{% load static %}
{% load space_extras %}

{% block title %}Astrics | Landing Page{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{% static 'css/profile.css' %}">
	<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}

{% block metadata %}
	<meta name="description" content="Unveil the Secrets of the Stars">
	<meta name="og:url" content="{% url 'landing-page' %}">
	<meta name="twitter:description" content="Unveil the Secrets of the Stars">
	<meta name="og:title" content="Unveil the Secrets of the Stars">
	<meta name="twitter:title" content="Unveil the Secrets of the Stars">
	<meta name="og:image" content="{{ 678bcba80023f63cc43f | get_media }}">
	<meta name="twitter:image" content="{{ 678bcba80023f63cc43f | get_media }}">
	<meta name="og:type" content="website">
	<meta name="twitter:card" content="{{ 678bcba80023f63cc43f | get_media }}">
{% endblock %}

{% block header %}
	<header>
		<div class="header-container">
			<div class="header-left-section">
				<div class="img-container">
					<a href="{% url 'space:home' %}" title="Home" role="button">
						<img src="{% static 'images/logo-no-background.png' %}" alt="The Logo of Astrics Co.">
					</a>
				</div>
			</div>

			<div class="header-mid-section"></div>

			
			<div class="header-right-section">
				<nav>
					<ul class="nav_icons">
						<li>
							<a href="#features" title="Explore what we have for you">
								<i class='bx bx-list-plus' role="img" aria-hidden="true"></i>
								<span>Features</span>
							</a>
						</li>
						<li>
							<a href="#" title="Learn more about Astrics and our mission">
								<i class='bx bx-info-circle'></i>
								<span>About</span>
							</a>
						</li>
						<li>
							<a href="#" title="Get in touch with us">
								<i class='bx bx-user-voice' role="img" aria-hidden="true"></i>
								<span>Contact</span>
							</a>
						</li>
					</ul>
				</nav>
				<a href="{% url 'login' %}" title="Login to your account">
					<button>Login</button>
				</a>
			</div>
		</div>
	</header>
{% endblock %}

{% block content %}
	<section class="hero">
		<div class="hero-container">
			<h1 id="startup-title">Discover the Wonders of the Universe</h1>
			<p>Your daily dose of astronomical wonders and space insights.</p>
			<a href="{% url 'signup' %}" title="Register to Astrics">
				<button>Get Started</button>
			</a>
			<blockquote>
				<p>"Space is for everybody. It’s not just for a few people in science or math, or for a select group of astronauts. That’s our new frontier out there, and it’s everybody’s business to know about space."</p>
				<cite>- Christa McAuliffe</cite>
			</blockquote>
		</div>
	</section>

	<section class="hero2">
		{% if latest_post.media_type == 'video' %}
			<h2>ASTRICS: VIDEO OF THE DAY</h2>
		{% else %}
			<h2>ASTRICS: IMAGE OF THE DAY</h2>
		{% endif %}
		<div class="new-update">
			<div class="desc">		
				<h3>{{ latest_post.title }}</h3>
				<p>
					{{ latest_post.description }}
				</p>
			</div>
			<div class="post-media">
				{% if latest_post.media_type == 'video' %}
					<iframe width="100%" height="400" src="{{ latest_post.url }}" 
							title="YouTube video player" frameborder="0" 
							allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"
							allowfullscreen
					>
					</iframe>
				{% else %}
					<img src="{{ latest_post.url }}" alt="{{ latest_post.title }}>
				{% endif %}
			<div>
		</div>
	</section>
	<section id="features">
        <h2>Why Astrics?</h2>
        <div class="features-container">
            <div class="feature-box">
                <i class='bx bx-planet' role="img" aria-hidden="true"></i>
                <h3>Daily Astronomy</h3>
                <p>Get daily updates from NASA and explore celestial wonders.</p>
				<div class="fill"></div>
            </div>
            <div class="feature-box">
                <i class='bx bx-camera' role="img" aria-hidden="true"></i>
                <h3>Upload & Share</h3>
                <p>Share your own space photos and videos with the world.</p>
            </div>
            <div class="feature-box">
                <i class='bx bx-heart' role="img" aria-hidden="true"></i>
                <h3>Community Interaction</h3>
                <p>Like, comment, and engage with other space enthusiasts.</p>
            </div>
        </div>
    </section>

	
	{% include "user/footer.html" %}
{% endblock %}

{% block script %}
	<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/ScrollTrigger.min.js"></script>
	<script src="{% static 'js/landing.js' %}"></script>
{% endblock %}