body {
    background: url('../images/skysearch.jpg') no-repeat;
    background-size: 100%;
    background-position: center;
	background-color: var(--back-color);
}

.error-list {
    color: var(--primary);
    font-size: 14px;
    margin-bottom: 35px;
    text-align: center;
}