<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>CONTACT</title>
	<link rel="icon" href="../static/images/logo.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="../static/styles/general.css">
	<link rel="stylesheet" type="text/css" href="../static/styles/header.css">
	<link rel="stylesheet" type="text/css" href="../static/styles/contact.css">
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
	<header>
		<div>
			<a href="{{ url_for ('astrics') }}"><img src="../static/images/logo.png" class="com-logo"></a>
		</div>
		<nav>
			<div><a href="{{ url_for ('astrics') }}"><b>HOME</b></a></div>
			<div><a href="{{ url_for ('astrics_about') }}"><b>ABOUT US</b></a></div>
			<div><a href="{{ url_for ('astrics_projects') }}"><b>OUR PROJECTS </b></a></div>
			<div><a href="{{ url_for ('astrics_contact') }}"><b>CONTACT US</b></a></div>
		</nav>
	</header>
	<main>
		<section class="introduction">
			<h1>Your Feedback Matters</h1>
			<p>
				We are continually looking to improve and expand Astrics’s offerings. Your feedback is invaluable to us, helping to shape the future of this app. For questions, suggestions, or comments, please reach out to us 
			</p>
		</section>
		<section class="message-us">
			<form action="mailto:astrics550@gmail.com" method="POST" enctype="text/plain" name="EmailForm">
				<h3>Send Us A Message</h3>
				<div class="input-box">
					<input type="text" placeholder="Name" id="name" required>
					<i class='bx bxs-contact'></i>
				</div>
					<textarea placeholder="Write Your Message Here!"></textarea>
				</div>
				<input type="image" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAUBJREFUSEu9lTEvREEUhb/T6egQlYKQSBQqJf+AhkQiQcEv2RBRadiWhEq0IlEpRKNdopOgUpKIOHaSKdaza2ffGpO85CVz7/nm3jf3PJF5KbM+/wuwfQZMAbvhkfTSbYXfKrD9CAxG0df6+z6wLempLKgIOAIWC2LvwAGwKem+U1ARsA7stRD5BE6AiqSbVFARMArcJiSfx4ou2sX+uEW2Q78H2iXG/esAAk4luVlOM8AQsAqsAMOJoBqwBRxK+mjMaTkHtsPeLLAGzNVP2pMAewB2gKqktxCfNGi2+4AlYAOYSADVJI13AugFlmM1kwmAK0nTvwJii2ai6Pyftch23o9s+xnoT2hDCOnsmtoeAe4SxMsNWn3IslvFMbCQ0+wabSLYdTXadbDxUqtodpfAWLYfTqkjtklKsopuwNkBXzrJdhmApYC1AAAAAElFTkSuQmCC" value="Send" class="send-img">
			</form>
		</section>
	</main>
</body>
</html>
