<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrics | Home Page</title>
    <link rel="icon" href="../static/images/logo-no-background.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="../static/styles/general.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/footer.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../static/scripts/home-page.js"></script>
    
</head>
<body>
    <header>
        <div class="header_logo"><a href="{{ url_for('astrics_home') }}"><img src="../static/images/logo-no-background.png"></a></div>
        <div class="nav-menu"><i class='bx bx-menu'></i>
            <i class='bx bx-x' style='color:#ffffff'  ></i></div>
        <nav class="nav-bar">
            <ul class="nav_links">
                <li><a href="{{ url_for('astrics_home') }}" style="color: rgb(193, 30, 30);">HOME</a></li>
                <li><a href="{{ url_for('astrics_about') }}" >ABOUT US</a></li>
                <li><a href="{{ url_for('astrics_projects') }}">OUR PROJECTS</a></li>
                <li><a href="{{ url_for('astrics_contact') }}">CONTACT US</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="new-image-section">
            <div class="new-image" style="background: url('{{ images[0].image_url }}'); background-position: center; background-repeat: no-repeat; background-size: 100%;">
                <span>Click Me!</span>
            </div>
            <div class="new-image-desc">
                {{ images[0].description }}
            </div>
        </section>
        <section class="prev-images-section">
            <h2>See Previous images :</h2>
            <div class="prev-images">
                {% for i in images[1:] %}
                    <div class="img-section">
                        <div class="img" style="background: url('{{ i.image_url }}'); background-repeat: no-repeat; background-position: center;
                            background-size: 100%;">
                            <span>Click Me!</span>
                        </div>
                        <div class="img-desc">
                            {{ i.description }}
                        </div>    
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>
    <footer>
        <p>copyright &copy; 2024</p>
        <ul class="socials">
            <li>
                <a href="https://www.facebook.com/profile.php?id=61560236266196"><i class='bx bxl-facebook-circle' style='color:rgb(193,30,30)'></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/astrics550/"></a><i class='bx bxl-instagram'></i>
            </li>
            <li>
                <a href="https://x.com/AstricsSpace"></a><i class='bx bxl-twitter'></i>
            </li>
        </ul>
    </footer>
</body>
</html>