<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ASTRICS</title>
	<link rel="stylesheet" type="text/css" href="../static/styles/general.css">
	<link rel="stylesheet" type="text/css" href="../static/styles/home.css">
	<link rel="stylesheet" type="text/css" href="../static/styles/header.css">
</head>
<body>
	<header>
		<div>
			<a href="#"><img src="../static/images/logo.png" class="com-logo"></a>
		</div>
		<nav>
			<div>
				<a href="#"><b>HOME</b></a>
			</div>
			<div>
				<a href="#"><b>ABOUT US</b></a>
			</div>
			<div>
				<a href="#"><b>OUR PROJECTS </b></a>
			</div>
			<div>
				<a href="#"><b>CONTACT US</b></a>
			</div>
		</nav>
	</header>
	<main>
		<section class="introduction">
			<h1>ASTRICS</h1>
			<p>
			Astrics is a pioneering web application designed to inspire and educate by providing stunning, high-quality astronomical images and related data every day. Our mission is to make the wonders of the universe accessible to students and educators, enhancing their understanding and appreciation of the cosmos.

			At Astrics, we believe in the power of education through exploration. Our app serves as a bridge connecting the academic community with the vast educational resources of space agencies like NASA. We are committed to fostering a deeper understanding and love for astronomy, making it engaging and accessible to everyone. </p>

			<h2>Start Your Cosmic Journey Today</h2>
			
			<p>
			Whether you're a student seeking to broaden your horizons, an educator looking for compelling teaching materials, or simply a space enthusiast eager to learn more about our universe, Astrics invites you to join our community. Explore the beauty and mystery of the cosmos—every day is a new opportunity to discover something amazing.
			</p>
		</section>
		<section class="image-of-day">
			<div class="image">
				<img src="{{ images[0].image_url }}" class="image-d">
				<div class="image-title">{{ images[0].image_title }}</div>
			</div>
			<div class="image-des-section">
				<h3 class="image-tag">IMAGE DESCRIPTION</h3>
				<div class="image-desc">
					{{ images[0].description }}
				</div>
			</div>
		</section>
		<section class="prev-images">
			{% for i in images %}
				<div class="sec-pre">
					<img src="{{ i.image_url }}">
					<div class="prev-image-desc">
						{{ i.description }}
					</div>
				</div>
			{% endfor %}
		</section>
	</main>
</body>
</html>