<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astrics | Login</title>
    <link rel="icon" href="../static/images/logo-no-background.png" type="image/x-icon">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="../static/styles/general.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/header.css">
    <link rel="stylesheet" href="../static/styles/reg-logpage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/footer.css">
    <link rel="stylesheet" href="../static/styles/logpage.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../static/scripts/home-page.js"></script>
    
</head>
<body>
    <header>
        <div class="header_logo"><a href="{{ url_for('astrics_home') }}"><img src="../static/images/logo-no-background.png"></a></div>
        <div>Login and Keep Working</div>
    </header>
    <main>
        <form method="POST" action="{{ url_for('astrics_login') }}">
			<h3>Astrics Login</h3>
			<div class="input-box">
				<input type="email" placeholder="Email" name="email"  id="email" required="">
				<i class="bx bxs-envelope"></i>
			</div>
			<div class="input-box">
				<input type="password" placeholder="Password" id="password" name="password" required="">
				<i class="bx bxs-lock-alt"></i>
			</div>
			<div class="rem-forget">
				<label><input type="checkbox">Remember me</label>
				<a href="#" style="color: rgb(193, 30, 30);">Forgot Password?</a>
			</div>
			<button type="submit" class="login-btn" id="submit-btn">Login</button>
			<div class="register-link">
				<p>Don't have an account? <a href="{{ url_for('astrics_register') }}">Register</a></p>
			</div>
		</form>
    </main>
    <footer>
        <p>copyright &copy; 2024</p>
        <ul class="socials">
            <li>
                <a href="https://www.facebook.com/profile.php?id=61560236266196"><i class='bx bxl-facebook-circle' style='color:rgb(193,30,30)'></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com/astrics550/"></a><i class='bx bxl-instagram'></i>
            </li>
            <li>
                <a href="https://x.com/AstricsSpace"></a><i class='bx bxl-twitter'></i>
            </li>
        </ul>
    </footer>
</body>
</html>