<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PROJECTS</title>
	<link rel="icon" href="../static/images/logo.ico" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="../static/styles/general.css">
	<link rel="stylesheet" type="text/css" href="../static/styles/header.css">
	<link rel="stylesheet" type="text/css" href="../static/styles/projects.css">
</head>
<body>
	<header>
		<div>
			<a href="{{ url_for ('astrics') }}"><img src="../static/images/logo.png" class="com-logo"></a>
		</div>
		<nav>
			<div><a href="{{ url_for ('astrics') }}"><b>HOME</b></a></div>
			<div><a href="{{ url_for ('astrics_about') }}"><b>ABOUT US</b></a></div>
			<div><a href="{{ url_for ('astrics_projects') }}"><b>OUR PROJECTS </b></a></div>
			<div><a href="{{ url_for ('astrics_contact') }}"><b>CONTACT US</b></a></div>
		</nav>
	</header>
	<main>
		<section class="project-sections">
			<div class="project-overview">
				<h3>THE SIMPLE SHELL</h3>
				<p>
					Shell is a user interface to use the services of a computer. It can be a command-line interface –the one we will build- or graphical user interface, like regular software such as Windows Office.
					<br><br>See more of the project <a href="https://github.com/wiseman-umanah/simple_shell">HERE</a>
				</p>
			</div>
			<div class="project-overview">
				<h3>THE MONTY PROJECT</h3>
				<p>
					Monty 0.98 is a scripting language that is first compiled into Monty byte codes (Just like Python). It relies on a unique stack, with specific instructions to manipulate it. The goal of this project is to create an interpreter for Monty ByteCodes files.
					<br><br>See more of the project <a href="https://github.com/wiseman-umanah/monty">HERE</a>
				</p>
			</div>
			<div class="project-overview">
				<h3>THE AIRBNB PROJECT (CONSOLE)</h3>
				<p>
					The AirBnB Clone: Console is a simple yet powerful interface that allows users to create, update and destroy instances with unique IDs. With a user-friendly CLI, it provides a convenient way to harness the details of users with specific and unique IDs based on their class in a database file.
					<br><br>See more of the project <a href="https://github.com/wiseman-umanah/AirBnB_clone">HERE</a>
				</p>
			</div>
			<div class="project-overview">
				<h3>THE AIRBNB PROJECT (FINAL DEPLOY)</h3>
				<p>
					The console is the first segment of the AirBnB project at Holberton School that will collectively cover fundamental concepts of higher level programming. The goal of AirBnB project is to eventually deploy our server a simple copy of the AirBnB Website(HBnB). A command interpreter is created in this segment to manage objects for the AirBnB(HBnB) website.
					<br><br>See more of the project <a href="https://github.com/wiseman-umanah/AirBnB_clone_v4">HERE</a>
				</p>
			</div>
		</section>
	</main>
</body>
</html>
