body {
	background: url("../images/pexels-photo-1169754.jpeg");
	min-height: 100vh;
	margin: 0;
	font-family: Roboto
}

main {
	color: white;
	max-width: 80%;
	margin: 30px auto;
}

.image-of-day {
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.image {
	width: 65%;
	height: 100%;
}

.image-des-section {
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .2);
	width: 30%;
	height: 100%;
	border-radius: 20px;
}

.image-tag {
	border-bottom: 2px solid rgba(255, 255, 255, .2);
	color: #F5F3F5;
	text-align: center;
	margin: 0;
	padding: 20px 0;
	vertical-align: middle;
}

.image-desc {
	max-width: 80%;
	max-height: 80%;
	margin: 20px auto;
	overflow-y: scroll;
}

.prev-images {
	background-color: black;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 1px;
	
}

.prev-images div {
	background-color: white;
	height: 70px;
	width: 24%;
}
.image-d {
	width: 100%;
	height: 100%;
	border: 2px solid rgba(255, 255, 255, .2);
	border-radius: 20px;
}
